# ==============================================
# .gitattributes 
# ==============================================

# Автоматическое определение текстовых файлов
* text=auto

# -------------------------------------------------
# Текстовые файлы (LF - единый формат)
# -------------------------------------------------

# Frontend (Vue.js)
*.js        text eol=lf
*.vue       text eol=lf
*.css       text eol=lf
*.html      text eol=lf

# Backend (Python/Django)
*.py        text eol=lf

# Конфигурация и документация
*.json      text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
*.txt       text eol=lf
*.toml      text eol=lf


# -------------------------------------------------
# Бинарные файлы
# -------------------------------------------------
*.png       binary
*.jpg       binary
*.ico       binary

# -------------------------------------------------
# Особые правила
# -------------------------------------------------

# Lock файлы - скрыть изменения
package-lock.json -diff -merge